



body {
    font-family: 'Abel', sans-serif;
    font-size: 1.8em;
    line-height: 1.6;
    background: #d1ab9a;
    overflow-x: scroll;
}

label input:checked + .menu + ul { opacity: 1; }
label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .4s ease-in;
    transition: .4s ease-in;
}


label input:checked + .menu {
box-shadow: 0 0 0 110vh #FFF, 0 0 0 110vw #FFF;
border-radius: 50px 20px;}

label input:checked + .menu .hamburger2 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger3 {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 135px;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 135px;
}

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 110;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 70% 70% 70% 70%;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 120px;
  left: 35px;
  width: 50px;
  height: 2px;
  background: #221f1f;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger2 {

  position: absolute;
  top: 135px;
  left: 35px;
  width: 50px;
  height: 2px;
  background: #221f1f;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger3 {

  position: absolute;
  top: 150px;
  left: 35px;
  width: 50px;
  height: 2px;
  background: #221f1f;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label input { display: none; }

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/**
 * Colour sections
 */


    #SLT {
        height: 100%;
        max-width: 900px;
        margin: 100px;
        background-color: #d1ab9a;
        color: #181818;
        svg {
        top: -80px;
        fill: #d1ab9a;
        }
    }

    #Solution {
        background-color: white;
        svg {
            top: -80px;
            fill:#221f1f;
        }
    }

    #About {
        background-color:#545454;
        color: white;

        svg {
            top: -60px;
            fill: #545454;
        }
    }
